<form id="formNewCategory" action="post">
    <input type="hidden" name="createBy" id="createBy" value="1">
    <div class="form-group mt-2">
        <label for="name" class="form-label">Nama Category</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group mt-2">
        <label for="description" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" name="description" id="description">
    </div>
    <div class="m-3 text-end">
        <button type="button" class="btn btn-light" onclick="Close()">Cancel</button>
        <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
</form>
<script src="/js/category/category-create.js"></script>
