<div class="h5 text-center mb-3">Anda yakin menghapus permanent data berikut ?</div>
<div class="h6 text-center mb-3">data yang telah dihapus permanent tidak dapat dikembalikan</div>
<form id="formHardDeleteCategory">
    <div th:if="${Success}">
        <input type="hidden" name="updateBy" value="1">
        <div class="form-group mt-2">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" name="id" id="id" th:value="${Category.id}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Category</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Category.name}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="description" id="description"
                th:value="${Category.description}" readonly>
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Batalkan</button>
            <button type="submit" class="btn btn-danger">Hapus</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script src="/js/category/category-hard-delete.js"></script>