<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>SimpangRayaOnline - Category</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="card">
            <div class="card-header" style="background-color: antiquewhite;">
                <h2 class="text-dark" th:text="${title}">title</h2>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            <button id="btn_create" class="btn btn-primary">Tambah Category</button>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-1">Id</th>
                                <th class="col-4">Name</th>
                                <th class="col-4">Description</th>
                                <th class="col-3 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody th:if="${Response} == 'Success'">
                            <tr th:each="item : ${Categories}">
                                <td th:text="${item.id}">ID</td>
                                <td th:text="${item.name}">Name</td>
                                <td th:text="${item.description}">Description</td>
                                <td class="d-flex justify-content-center">
                                    <div class="btn-group">
                                        <button class="btn btn-success" th:value="${item.id}" title="Detail"><i
                                                class="ti ti-file-description"></i></button>
                                        <button class="btn btn-warning" th:value="${item.id}" title="Edit"><i
                                                class="ti ti-edit"></i></button>
                                        <button class="btn btn-danger" th:value="${item.id}" title="Delete"><i
                                                class="ti ti-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${Response} == 'Success'">
                            <tr>
                                <td colspan="4" class="text-center" th:text="${ErrorMessage}">ErrorMessage</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <a href="/Category/IndexAll" id="btn_getAllData" class="btn btn-outline-primary m-1">Recycle Bin</a>
                </div>
            </div>
        </div>
        <script src="/js/category/category-index.js"></script>
    </div>
</body>

</html>