<form id="formUpdateCategory" action="post">
    <div th:if="${Success}">

        <input type="hidden" class="form-control" name="id" id="id" th:value="${Category.id}">
        <input type="hidden" class="form-control" name="updateBy" id="updateBy" value="1">

        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Category</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Category.name}">
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="description" id="description"
                th:value="${Category.description}">
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Close</button>
            <button type="submit" class="btn btn-primary">Ubah</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script src="/js/category/category-update.js"></script>