<form id="formNewVariant" action="post">
    <input type="hidden" name="createBy" id="createBy" value="1">
    <div class="form-group mt-2">
        <label for="name" class="form-label">Nama Variant</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group mt-2">
        <label for="description" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" name="description" id="description">
    </div>
    <div class="form-group mt-2">
        <label for="categoryId" class="form-label">Category</label>
        <select class="form-control" name="categoryId" id="categoryId">
            <div th:if="${Success}">
                <option value="">--Pilih Category--</option>
                <option th:each="category:${Categories}" th:value="${category.id}" th:text="${category.name}">categoryName</option>
            </div>
            <div th:unless="${Success}">
                <option value="" th:text="${ErrorMessage}">ErrorMessage</option>
            </div>
        </select>
    </div>

    <div class="m-3 text-end">
        <button type="button" class="btn btn-light" onclick="Close()">Cancel</button>
        <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
</form>
<script src="/js/variant/variant-create.js"></script>
