<form id="formDetailVariant">
    <div th:if="${Success}">
        <div class="form-group mt-2">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" name="id" id="id" th:value="${Variant.id}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Variant</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Variant.name}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="categoryName" class="form-label">Nama Category</label>
            <input type="text" class="form-control" name="categoryName" id="categoryName" th:value="${Variant.categoryName}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="description" id="description"
                th:value="${Variant.description}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="createBy" class="form-label">Ditambahkan oleh</label>
            <input type="text" class="form-control" name="createBy" id="createBy" th:value="${Variant.createBy}"
                readonly>
        </div>
        <div class="form-group mt-2">
            <label for="createDate" class="form-label">Tanggal ditambah</label>
            <input type="text" class="form-control" name="createDate" id="createDate" th:value="${Variant.createDate}"
                readonly>
        </div>
        <div class="form-group mt-2">
            <label for="updateBy" class="form-label">Diubah oleh</label>
            <input type="text" class="form-control" name="updateBy" id="updateBy" th:value="${Variant.updateBy}"
                readonly>
        </div>
        <div class="form-group mt-2">
            <label for="updateDate" class="form-label">Tanggal diubah</label>
            <input type="text" class="form-control" name="updateDate" id="updateDate" th:value="${Variant.updateDate}"
                readonly>
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Close</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script>
    function Close() {
        $("#btnCloseModal").click()
    }
    
</script>