<div class="h5 text-center mb-5">Aktifkan data berikut ?</div>
<form id="formRetrieveVariant">
    <div th:if="${Success}">
        <input type="hidden" name="updateBy" value="1">
        <div class="form-group mt-2">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" name="id" id="id" th:value="${Variant.id}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Variant</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Variant.name}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="description" id="description"
                th:value="${Variant.description}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="categoryId" class="form-label">Category</label>
            <input type="text" class="form-control" name="categoryId" id="categoryId"
                th:value="${Variant.categoryId}" th:text="${Variant.categoryName}" readonly>
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Batalkan</button>
            <button type="submit" class="btn btn-danger">Aktifkan</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script src="/js/variant/variant-retrieve.js"></script>