<form id="formUpdateVariant" action="post">
    <div th:if="${Success}">

        <input type="hidden" class="form-control" name="id" id="id" th:value="${Variant.id}">
        <input type="hidden" class="form-control" name="updateBy" id="updateBy" value="1">

        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Variant</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Variant.name}">
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="description" id="description"
                th:value="${Variant.description}">
        </div>
        <div class="form-group mt-2">
            <label for="categoryId" class="form-label">Category</label>
            <select class="form-control" name="categoryId" id="categoryId">
                <div th:if="${Success}">
                    <option value="">--Pilih Category--</option>
                    <option th:if="${category.id} == ${Variant.categoryId}" th:each="category:${Categories}"  th:value="${category.id}" th:text="${category.name}" selected>categoryName</option>
                    <option th:unless="${category.id} == ${Variant.categoryId}" th:each="category:${Categories}"  th:value="${category.id}" th:text="${category.name}">categoryName</option>
                </div>
                <div th:unless="${Success}">
                    <option value="" th:text="${ErrorMessage}">ErrorMessage</option>
                </div>
            </select>
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Close</button>
            <button type="submit" class="btn btn-primary">Ubah</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script src="/js/variant/variant-update.js"></script>