<form id="formNewProduct" action="post">
    <input type="hidden" name="createBy" id="createBy" value="1">
    <div class="form-group mt-2">
        <label for="name" class="form-label">Nama Product</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group mt-2">
        <label for="description" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" name="description" id="description">
    </div>
    <div class="form-group mt-2">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" name="price" id="price">
    </div>
    <div class="form-group mt-2">
        <label for="stock" class="form-label">Stock</label>
        <input type="text" class="form-control" name="stock" id="stock">
    </div>
    <div class="form-group mt-2">
        <label for="categoryId" class="form-label">Category</label>
        <select class="form-control" name="categoryId" id="categoryId">
            <div th:if="${Success}">
                <option value="">--Pilih Category--</option>
                <option th:each="category:${Categories}" th:value="${category.id}" th:text="${category.name}">categoryName</option>
            </div>
            <div th:unless="${Success}">
                <option value="" th:text="${ErrorMessage}">ErrorMessage</option>
            </div>
        </select>
    </div>
    <div class="form-group mt-2">
        <label for="variantId" class="form-label">Variant</label>
        <select class="form-control" name="variantId" id="variantId">
            <div th:if="${Success}">
                <option value="">--Pilih Variant--</option>
                <option th:each="variant:${Variants}" th:value="${variant.id}" th:text="${variant.name}">variantName</option>
            </div>
            <div th:unless="${Success}">
                <option value="" th:text="${ErrorMessage}">ErrorMessage</option>
            </div>
        </select>
    </div>

    <div class="m-3 text-end">
        <button type="button" class="btn btn-light" onclick="Close()">Cancel</button>
        <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
</form>
<script src="/js/product/product-create.js"></script>
