<form id="formDetailProduct">
    <div th:if="${Success}">
        <div class="form-group mt-2">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" name="id" id="id" th:value="${Product.id}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Product</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Product.name}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="categoryName" class="form-label">Category</label>
            <input type="text" class="form-control" name="categoryName" id="categoryName" th:value="${Product.categoryName}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="variantName" class="form-label">Variant</label>
            <input type="text" class="form-control" name="variantName" id="variantName" th:value="${Product.variantName}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" name="description" id="description"
                th:value="${Product.description}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" id="price"
                th:value="${Product.price}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="stock" class="form-label">Stock</label>
            <input type="text" class="form-control" name="stock" id="stock"
                th:value="${Product.stock}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="createBy" class="form-label">Ditambahkan oleh</label>
            <input type="text" class="form-control" name="createBy" id="createBy" th:value="${Product.createBy}"
                readonly>
        </div>
        <div class="form-group mt-2">
            <label for="createDate" class="form-label">Tanggal ditambah</label>
            <input type="text" class="form-control" name="createDate" id="createDate" th:value="${Product.createDate}"
                readonly>
        </div>
        <div class="form-group mt-2">
            <label for="updateBy" class="form-label">Diubah oleh</label>
            <input type="text" class="form-control" name="updateBy" id="updateBy" th:value="${Product.updateBy}"
                readonly>
        </div>
        <div class="form-group mt-2">
            <label for="updateDate" class="form-label">Tanggal diubah</label>
            <input type="text" class="form-control" name="updateDate" id="updateDate" th:value="${Product.updateDate}"
                readonly>
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Close</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script>
    function Close() {
        $("#btnCloseModal").click()
    }
    
</script>