<div class="h5 text-center mb-3">Anda yakin menghapus permanent data berikut ?</div>
<div class="h6 text-center mb-3">data yang telah dihapus permanent tidak dapat dikembalikan</div>
<form id="formHardDeleteProduct">
    <div th:if="${Success}">
        <input type="hidden" name="updateBy" value="1">
        <div class="form-group mt-2">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" name="id" id="id" th:value="${Product.id}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="name" class="form-label">Nama Product</label>
            <input type="text" class="form-control" name="name" id="name" th:value="${Product.name}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="categoryName" class="form-label">Category</label>
            <input type="text" class="form-control" name="categoryName" id="categoryName"
                th:value="${Product.categoryName}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="variantName" class="form-label">Variant</label>
            <input type="text" class="form-control" name="variantName" id="variantName"
                th:value="${Product.variantName}" readonly>
        </div>
        <div class="m-3 text-end">
            <button type="button" class="btn btn-light" onclick="Close()">Batalkan</button>
            <button type="submit" class="btn btn-danger">Hapus</button>
        </div>
    </div>
    <div th:unless="${Success}">
        <div class="d-flex container-fluid">
            <h1 th:text="${ErrorMessage}">ErrorMessage</h1>
        </div>
    </div>
</form>
<script src="/js/product/product-hard-delete.js"></script>