<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>SimpangRayaOnline - Product</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="card">
            <div class="card-header" style="background-color: antiquewhite;">
                <h2 class="text-dark" th:text="${title}">title</h2>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-1">Id</th>
                                <th class="col-2">Name</th>
                                <th class="col-3">Category/Variant</th>
                                <th class="col-2">Price</th>
                                <th class="col-2">Stock</th>
                                <th class="col-2 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody th:if="${Success}">
                            <tr th:each="item : ${Products}">
                                <td th:text="${item.id}">ID</td>
                                <td th:text="${item.name}">Name</td>
                                <td th:text="${item.categoryName} + '/' + ${item.variantName}">Category/Variant</td>
                                <td th:text="${item.price}">Price</td>
                                <td th:text="${item.stock}">Stock</td>
                                <td class="d-flex justify-content-center">
                                    <div class="btn-group">
                                        <button class="btn btn-success" th:value="${item.id}" title="Aktifkan"><i class="ti ti-creative-commons-sa"></i></button>
                                        <button class="btn btn-danger" th:value="${item.id}" title="Hapus Permanen"><i class="ti ti-flame"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${Success}">
                            <tr>
                                <td colspan="6" class="text-center" th:text="${ErrorMessage}">ErrorMessage</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-start">
                    <a href="/Product" class="btn btn-outline-primary m-1">Kembali</i></i></a>
                </div>
            </div>
        </div>
        <script src="/js/product/product-index-all.js"></script>
    </div>
</body>

</html>